.about__list{
    margin-bottom: -30px;
    @media  (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    
}

.about__item{
    margin-bottom: 30px;
    @media  (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
    }
    @media  (min-width: 1200px) {
        width: calc(100% / 4 - 30px);
        margin-left: 30px;
    }
    // flex-basis: calc((100% - 120px) / 4);
    // margin-left: 30px;
}

.about__icon{
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px 4px;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    padding-top: 60px;
    padding-bottom: 60px;
    @media  (min-width: 1200px) {
        padding-top: var(--pading-section);
        padding-bottom: var(--pading-section);
    }
}

.about__header{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;
    @media  (min-width: 768px) {
        text-align:left;
    }

}

.about__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);

}