.footer{
    background: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0px auto;
}

.footer .container{
    align-items: baseline;
    text-align: center;
    @media  (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media  (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-between;
        text-align: left;
    }
}

.footer-container{
    @media  (min-width: 1200px) {
        display: block;
    }
}

.footer-soc-link{
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    @media  (min-width: 768px) {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    @media  (min-width: 1200px) {
        padding-top: 12px;
    }
}

.logo--white {
    color: var(--herov-color);
}

.footer__address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--herov-color);
    margin-bottom: 12px;
    margin-top: 28px;
    @media  (min-width: 1200px) {
        line-height: 1.71;
        margin-bottom: 9px;
    }
    
}

.footer__item:not(:last-child){
    margin-bottom: 12px;
    @media  (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.footer__tel,
.footer__mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: var(--time--);
    transition-timing-function: var(--timing-function);
    @media  (min-width: 1200px) {
        line-height: 1.71;
    }
}

.footer-soc-link__header{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-soc-link__list{
    display: flex;
    justify-content: center;
}

.footer-soc-link__item + .footer-soc-link__item{
    margin-left: 10px;
}

.footer-soc-link__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #FFFFFF;
    transition-duration: var(--time--);
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus{
        background-color: #2196F3;
        color: #FFFFFF;
    }
}



.footer-soc-link__icon{
    fill: currentColor;
    transition-duration: var(--time--);
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus{
        fill: #FFFFFF;
    }
}

