.herov{
    background-color: var(--background-color);
    background-image:linear-gradient(
        to right,
        rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)),
        url(../images/herov-m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 118px 0px;
    width: 100%;
    max-height: 400px;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
                background-image:linear-gradient(
                to right,
                rgba(47,48,58,0.4),
                rgba(47,48,58,0.4)),
                url(../images/herov-m-x2.jpg);
        }

        @media  (min-width: 768px) {
            max-height: 459px;
            background-image:linear-gradient(
                to right,
                rgba(47,48,58,0.4),
                rgba(47,48,58,0.4)),
                url(../images/herov-t.jpg);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
                background-image:linear-gradient(
                to right,
                rgba(47,48,58,0.4),
                rgba(47,48,58,0.4)),
                url(../images/herov-t-x2.jpg);
            }
        }

        @media  (min-width: 1200px) {
            padding: 200px 0px;
            max-width: 1600px;
            max-height: 600px;
            background-image:linear-gradient(
                to right,
                rgba(47,48,58,0.4),
                rgba(47,48,58,0.4)),
                url(../images/herov-dt.jpg);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
                background-image:linear-gradient(
                to right,
                rgba(47,48,58,0.4),
                rgba(47,48,58,0.4)),
                url(../images/herov-dt-x2.jpg);
            }
        }
    
    }

.herov-section{
    margin: 0 auto;
}

.herov__header{
    max-width: 360px;
    max-height: 84px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
   
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--herov-color);
       
        @media  (min-width: 1200px) {
            max-width: 696px;
            max-height: 120px;
            font-size: 44px;
            line-height: 1.36;
        }
    }

.herov__btn{
    display: flex;
    margin-left:auto;
    margin-right:auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--herov-color);
    background: var(--hover-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}