.portfolio{
    padding-top: var(--pading-section);
    padding-bottom: var(--pading-section);
}

.btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-list__item:not(:last-child){
    margin-right: 8px;
}

.btn-list__btn{
    padding: 6px 22px;
    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    transition-duration: var(--time--);
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus{
        color: var(--herov-color);
        background-color: var(--hover-focus);
        box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.12),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 3px 1px rgba(0, 0, 0, 0.1);
    }
}

