:root{
    --header-color:#212121;
    --hover-focus:#2196F3;
    --herov-color:#FFFFFF;
    --header-logo:#000000;
    --text-color:#757575;
    --background-color: #2F303A;
    --pading-section: 94px;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --time--: 250ms;
    --input-border: #21212133;
}